@font-face {
    font-family: 'Exuid';
    src: url('../fonts/Euclid Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Exuid';
    src: url('../fonts/Euclid Light.woff2') format('woff2');
}
